.login-container {
    padding: 20px;
    border-radius: 5px;
    width: 700px; /* Example width */
    margin: auto; /* Center the container */
    margin-top: 100px; /* Space from the top */
    text-align: center; /* Center the text */
  }
  
  .login-container h5,
  .login-container label,
  .login-container button,
  .login-container p {
    color: rgba(99, 43, 108, 1); /* Change to your desired font color */
  }

  .login-logo {
    padding-top: 50px;
    width: 500px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Space below the logo */
  }
  
  .login-container a {
    color: rgba(99, 43, 108, 1); /* Change link color as well */
    text-decoration: none; /* Remove underline */
  }
  
  .login-container a:hover {
    text-decoration: underline; /* Add underline on hover */
  }

  .input-group {
    margin-bottom: 20px; /* Space between input groups */
    text-align: left; /* Align labels and inputs to the left */
  }
  
  .input-group label {
    display: block; /* Forces label onto its own line */
    margin-bottom: 5px; /* Adds space between label and input */
    font-weight: bold;
    font-size: 14px;
  }
  
  .input-group input {
    width: 100%; /* Make input take up full width */
    padding: 8px; /* Add some padding inside the input */
    border: 1px solid #ccc; /* Border around input */
    border-radius: 4px; /* Rounded corners */
    box-sizing: border-box; /* Ensure padding is included in width */
  }
  
  button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  