.tracker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

.tracker-container h1 {
  color: rgba(99, 43, 108, 1);
}

.mood-buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.mood-buttons .emoji {
  font-size: 30px;
  padding: 20px;
  margin: 0 10px;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.mood-buttons .red-emoji { background-color: #ff4d4d; }
.mood-buttons .orange-emoji { background-color: #ff9933; }
.mood-buttons .yellow-emoji { background-color: #ffeb3b; }
.mood-buttons .green-emoji { background-color: #4caf50; }
.mood-buttons .darkgreen-emoji { background-color: #2e7d32; }

.mood-bar {
  width: 80%;
  margin: 20px auto;
  height: 10px;
  position: relative;
  background-color: #ddd;
  border-radius: 5px;
}

.mood-gradient {
  background: linear-gradient(to right, #ff4d4d, #ff9933, #ffeb3b, #4caf50, #2e7d32);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: relative;
}

#arrow {
  position: absolute;
  top: -25px; /* Position above the bar */
  left: 50%; /* Initial position */
  font-size: 24px;
  color: black;
  transform: translateX(-50%);
}

.activity-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.activity-btn {
  background-color: #f9f9f9;
  color: rgba(99, 43, 108, 1);
  border: 2px solid rgba(99, 43, 108, 1);
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.activity-btn:hover {
  background-color: rgba(99, 43, 108, 0.1);
}

.journal-btn {
  margin-top: 15px;
  background-color: rgba(99, 43, 108, 1);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  color: white;
}

.journal-btn:hover {
  background-color: #7a2b85;
}

.insight-box {
  margin-top: 30px;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 80%;
  max-width: 600px;
  text-align: left;
}

.insight-header {
  display: flex;
  align-items: center;
}

.hollow-heart-icon {
  font-size: 20px;
  margin-right: 10px;
  color: rgba(99, 43, 108, 1); 
}

.insight-box h3 {
  color: rgba(99, 43, 108, 1);
  margin: 0;
  font-size: 16px; 
}

.insight-content {
  height: 50px; 
  background-color: #ffffff;
  border: 1px#ccc; 
  margin-top: 10px;
  border-radius: 4px;
}
