.tracker-container {
    margin-top: 70px;
    text-align: center;
    padding: 20px;
    background-color: #fff;
  }
  
  .tracker-container h1, 
  .tracker-container h2  {
    color: rgba(99, 43, 108, 1); 
  }
  

  .mood-buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .mood-buttons .emoji {
    font-size: 30px;
    padding: 20px;
    margin: 0 10px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
  }
  
.mood-buttons .red-emoji { 
  background-color: #ff4d4d; 
}

.mood-buttons .orange-emoji {
  background-color: #ff9933; 
}

.mood-buttons .yellow-emoji {
  background-color: #ffeb3b; 
}

.mood-buttons .green-emoji {
  background-color: #4caf50; 
}

.mood-buttons .darkgreen-emoji {
  background-color: #2e7d32; 
}
  

  .activity-buttons {
    margin: 75px;
    justify-content: center;
    gap: 20px;
  }
  
  .activity-buttons .activity-btn {
    background-color: rgba(251, 195, 162, 0.15); 
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    min-width: 120px; 
    text-align: center;
    color: rgba(99, 43, 108, 1);
  }
  
  .activity-buttons .activity-btn:hover {
    background-color: rgba(251, 195, 162, 0.15);
  }
  

  .journal-btn {
    margin-top: 30px;
    background-color: rgba(251, 195, 162, 0.15);
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: rgba(99, 43, 108, 1);
  }
  
  .journal-btn:hover {
    background-color: rgba(251, 195, 162, 0.15) 
  }
  